:root {
  font-family: Oswald, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  max-width: 800px;
}

body {
  background: url('../src/assets/background.png') no-repeat center center fixed;
  background-size: cover;
  color: #7b1e7a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

