@font-face {
  font-family: Oswald;
  src: url('../src/assets/fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
  font-family: Chau philomene one;
  src: url('../src/assets/fonts/ChauPhilomeneOne/ChauPhilomeneOne-Regular.ttf');
}

@font-face {
  font-family: Public Sans;
  src: url('../src/assets/fonts/PublicSans/PublicSans-Regular.ttf');
}

@font-face {
  font-family: Public Sans;
  src: url('../src/assets/fonts/PublicSans/PublicSans-Bold.ttf');
  font-weight: bold;
}

:root {
  font-family: Oswald, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  width: 100%;
}

body {
  color: #7b1e7a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

